
@{
    ViewBag.Title = "Contact";
  //  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Contact</h3>
<hr />
<br />
<div align="center">
    <h2>Have a Question?</h2>
    <br />
    <h3>Contact Us <a href="https://business.louisville.edu/contact-us/">Here</a></h3>
</div>

