
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<head>

</head>



<body>
    <div class="container">
        <div id="content">

        </div>
    </div>
</body>

