@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
        }
    </style>
</head>
<body>

    <h2>INFORMATION</h2>

    <div class="alert">
        <strong>INFO:</strong> @ViewBag.Msg
    </div>

</body>
</html>